$dark-blue: #373645;
$blue: #6e9bca;
$light-blue: #67bfdc;
$white: #ffffff;
$black: #000000;
$green: #1bbc9b;
$red: #e84c3d;
$light: #e0e0e0;
$violet: #9b58b5;
$ccc: #cccccc;
$mt-l: 100px;
$mt-m: 32px;
$sl: #6e9bca;
